<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="applicantControl" [label]="'EGOVFormComponent.Steps.ApplicantStep.Title' | translate">
    <mat-form-field>
      <mat-select [formControl]="applicantControl" [placeholder]="'EGOVFormComponent.Steps.ApplicantStep.ApplicantControl' | translate"
                  [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
        <mat-option *ngFor="let applicationType of applicationTypeConst" [value]="applicationType">
          {{('TypeConst.ApplicationType.' + applicationType) | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-step>

  <mat-step [stepControl]="applicationInformationForm" [label]="'EGOVFormComponent.Steps.ApplicantInformation.Title' | translate">
    <egov-application-information-form [applicationInformationForm]="applicationInformationForm"
                                       [applicantNamePlaceholder]="applicantNamePlaceholder"></egov-application-information-form>
  </mat-step>

  <mat-step [stepControl]="applicationCreatorForm" [label]="'EGOVFormComponent.Steps.ApplicationCreator.Title' | translate">
    <egov-application-creator-form [applicationCreatorForm]="applicationCreatorForm"
                                   [applicationType]="applicantControl?.value"></egov-application-creator-form>
  </mat-step>

  <mat-step [stepControl]="controlPlanForm" [label]="'EGOVFormComponent.Steps.ControlPlan.Title' | translate">
    <egov-control-plan-form [controlPlanForm]="controlPlanForm"></egov-control-plan-form>
  </mat-step>

</mat-horizontal-stepper>
