<form [formGroup]="applicationInformationForm">
  <mat-form-field>
    <input matInput formControlName="applicantName" [placeholder]="applicantNamePlaceholder"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="streetName" [placeholder]="'Common.Address.StreetName' | translate"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="houseNumber" [placeholder]="'Common.Address.HouseNumber' | translate"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="zipCode" [placeholder]="'Common.Address.ZipCode' | translate"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="cityName" [placeholder]="'Common.Address.CityName' | translate"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="countryName" [placeholder]="'Common.Address.CountryName' | translate"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" formControlName="email" [placeholder]="'Common.EMail' | translate"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="phoneNumber" [placeholder]="'Common.PhoneNumber' | translate"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>
</form>
