<form [formGroup]="controlPlanForm">
  <mat-form-field>
    <mat-select formControlName="workType" [placeholder]="'ControlPlanFormComponent.WorkType' | translate"
                [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
      <mat-option *ngFor="let workType of workTypeConst" [value]="workType">
        {{('TypeConst.WorkType.' + workType) | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="controlPlanForm?.value?.workType === workType.LOW_BUILDING
                || controlPlanForm?.value?.workType === workType.HIGH_BUILDING">
    <mat-select formControlName="workDescription"
                [placeholder]="'ControlPlanFormComponent.WorkDescription' | translate"
                [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
      <ng-container *ngIf="controlPlanForm?.value?.workType === workType.LOW_BUILDING">
        <mat-option *ngFor="let lowBuildingType of lowBuildingTypeConst" [value]="lowBuildingType">
          {{('TypeConst.LowBuildingType.' + lowBuildingType) | translate}}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="controlPlanForm?.value?.workType === workType.HIGH_BUILDING">
        <mat-option *ngFor="let highBuildingType of highBuildingTypeConst" [value]="highBuildingType">
          {{('TypeConst.HighBuildingType.' + highBuildingType) | translate}}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="controlPlanForm?.value?.workDescription === lowBuildingType.LOW_BUILDING_OTHER
     ||controlPlanForm?.value?.workDescription === highBuildingType.HIGH_BUILDING_OTHER">
    <input matInput formControlName="workDescriptionName"
           [placeholder]="'ControlPlanFormComponent.WorkDescriptionName' | translate"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>

  <mat-form-field *ngIf="controlPlanForm?.value?.workType === workType.RENEWAL">
    <input matInput formControlName="fileNumber"
           [placeholder]="'ControlPlanFormComponent.FileNumber' | translate"
           [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
  </mat-form-field>

  <mat-form-field *ngIf="controlPlanForm?.value?.workType === workType.LOW_BUILDING">
    <mat-select formControlName="lowBuildingDetailsType"
                [placeholder]="'ControlPlanFormComponent.LowBuildingDetailsType' | translate"
                [required]="!!getValidatorsBasedOnDevelopmentMode()?.length">
      <mat-option *ngFor="let lowBuildingDetailsType of lowBuildingDetailsTypeConst" [value]="lowBuildingDetailsType">
        {{('TypeConst.LowBuildingDetailsType.' + lowBuildingDetailsType) | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>
